.Home-BookingsByMonth {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
}

.Home-BookingsByMonth__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 40px;
  color: var(--color-text);
}

.Home-BookingsByMonth__title {
  font-size: 22px;
  font-weight: 500;
}

.Home-BookingsByMonth__filter {
  display: flex;
  align-items: center;
}

.Home-BookingsByMonth__filter-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Home-BookingsByMonth__filter-action:hover {
  color: var(--color-primary--hover);
}

.Home-BookingsByMonth__filter-action:disabled {
  opacity: 0.5;
}

.Home-BookingsByMonth__filter-action:first-child .Icon {
  transform: rotate(180deg);
}

.Home-BookingsByMonth__filter-value {
  margin: 0 10px;
}

.Home-BookingsByMonth__chart {
  flex-grow: 1;
  padding: 24px 40px 0 4px;
  background-color: rgba(78, 53, 180, 1);
  border-radius: 0 0 8px 8px;
}
